.getting-to-know-container {
  height: 100%;
  display: flex;

  .getting-to-know-paper {
    margin: auto;
    padding: 30px;
    max-width: 750px;

    div {
      a {
        margin-top: 70px;
        text-align: center;
      }
    }
  }
}