html {
  height: 100% !important; }
  html body {
    height: 100%;
    margin: 0; }
    html body #root {
      height: 100%; }

.app {
  height: 100%; }

.layout {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .layout .app-title {
    flex: 1; }
  .layout .logo {
    height: 85px;
    margin: 10px 5px; }
  .layout .app-tool-bar {
    justify-content: space-between; }
  .layout .home-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke; }
    .layout .home-page-container h1, .layout .home-page-container h2 {
      font-family: 'Nanum Pen Script', cursive !important; }
    .layout .home-page-container h1 {
      font-size: 3.125rem !important;
      font-weight: bold !important; }
    .layout .home-page-container h2 {
      font-size: 2.3125rem !important; }
    .layout .home-page-container .sign-in-page, .layout .home-page-container .sign-up-page {
      width: 40%;
      align-self: center; }
      .layout .home-page-container .sign-in-page .email, .layout .home-page-container .sign-in-page .password-input, .layout .home-page-container .sign-in-page .full-name, .layout .home-page-container .sign-in-page .confirm-password-input,
      .layout .home-page-container .sign-in-page .sign-up-button, .layout .home-page-container .sign-in-page .sign-in-button, .layout .home-page-container .sign-up-page .email, .layout .home-page-container .sign-up-page .password-input, .layout .home-page-container .sign-up-page .full-name, .layout .home-page-container .sign-up-page .confirm-password-input,
      .layout .home-page-container .sign-up-page .sign-up-button, .layout .home-page-container .sign-up-page .sign-in-button {
        width: 300px; }
  .layout .sign-in-sign-up {
    padding-left: 50px; }
  .layout .layout-container {
    height: 100%;
    display: flex;
    margin-top: 105px;
    flex-direction: row; }
    .layout .layout-container .games-container {
      width: 100%;
      display: flex; }
    .layout .layout-container .layout-content {
      flex-grow: 1; }
    .layout .layout-container .game-content {
      width: 80%; }
    .layout .layout-container .progress-side-bar-container {
      border-right: 1px solid lightgrey;
      position: relative;
      width: 20%; }
      .layout .layout-container .progress-side-bar-container .heading {
        font-size: 0.9375rem;
        font-weight: normal; }
      .layout .layout-container .progress-side-bar-container .expansion-panel-details {
        padding-top: 0;
        padding-bottom: 0; }
      .layout .layout-container .progress-side-bar-container .expansion-panel-summary {
        min-height: 45px; }
      .layout .layout-container .progress-side-bar-container .MuiExpansionPanelSummary-contentExpanded-94 {
        margin: 0 0; }
      .layout .layout-container .progress-side-bar-container .MuiExpansionPanel-expanded-87 {
        margin: 0 0; }
      .layout .layout-container .progress-side-bar-container .list-of-sub-levels-container {
        width: 100%; }
        .layout .layout-container .progress-side-bar-container .list-of-sub-levels-container .list-item {
          padding-top: 5px;
          padding-bottom: 5px; }

.pitch-sort-game-container {
  height: 100%;
  display: flex; }
  .pitch-sort-game-container .pitch-sort-game-paper {
    height: 500px;
    margin: auto;
    padding: 30px; }
    .pitch-sort-game-container .pitch-sort-game-paper .pitch-sort-game {
      padding: 20px;
      margin-top: 40px;
      text-align: center;
      border: dashed lightgrey 1px;
      cursor: pointer; }
      .pitch-sort-game-container .pitch-sort-game-paper .pitch-sort-game .pitch-component-list {
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
        .pitch-sort-game-container .pitch-sort-game-paper .pitch-sort-game .pitch-component-list .pitch-paper {
          height: 100px;
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center; }

.pitch-sort-game:hover {
  color: azure; }

.pitch-button {
  margin: 22px !important;
  border-radius: 0 !important; }

.multi-choice-game-container {
  height: 100%;
  display: flex; }
  .multi-choice-game-container .multi-choice-game-paper {
    height: 500px;
    margin: auto;
    padding: 30px; }
    .multi-choice-game-container .multi-choice-game-paper .multi-choice-game {
      padding: 20px;
      margin-top: 40px;
      text-align: center;
      border: dashed lightgrey 1px;
      cursor: pointer; }

.multi-choice-game:hover {
  color: azure; }

.memory-game-container {
  height: 100%;
  display: flex; }
  .memory-game-container .memory-game-paper {
    min-height: 500px;
    margin: auto;
    padding: 30px; }
    .memory-game-container .memory-game-paper .memory-game {
      padding: 10px;
      text-align: center;
      border: dashed lightgrey 1px;
      cursor: pointer; }
      .memory-game-container .memory-game-paper .memory-game .memory-component-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; }
        .memory-game-container .memory-game-paper .memory-game .memory-component-list .memory-paper {
          height: 75px;
          width: 75px;
          margin: 10px;
          display: flex;
          align-items: center;
          justify-content: center; }

.memory-game:hover {
  color: azure; }

.memory-button {
  width: 40px !important;
  height: 40px !important;
  border-radius: 0% !important; }

.getting-to-know-container {
  height: 100%;
  display: flex; }
  .getting-to-know-container .getting-to-know-paper {
    margin: auto;
    padding: 30px;
    max-width: 750px; }
    .getting-to-know-container .getting-to-know-paper div a {
      margin-top: 70px;
      text-align: center; }
    .getting-to-know-container .getting-to-know-paper .getting-to-know-content {
      display: flex; }
    .getting-to-know-container .getting-to-know-paper .getting-to-know-image {
      max-width: 300px;
      max-height: 300px;
      margin-left: 30px; }

.pitch-equalizer-container {
  height: 100%;
  display: flex; }
  .pitch-equalizer-container .pitch-equalizer-paper {
    height: 500px;
    margin: auto;
    padding: 30px; }
    .pitch-equalizer-container .pitch-equalizer-paper .pitch-equalizer-game {
      padding: 20px;
      margin-top: 40px;
      text-align: center;
      border: dashed lightgrey 1px; }
      .pitch-equalizer-container .pitch-equalizer-paper .pitch-equalizer-game .dest-freq-container {
        display: inline-flex; }
        .pitch-equalizer-container .pitch-equalizer-paper .pitch-equalizer-game .dest-freq-container .play-dest-button {
          border-radius: 0;
          margin-left: 15px; }
        .pitch-equalizer-container .pitch-equalizer-paper .pitch-equalizer-game .dest-freq-container p {
          align-self: center; }
      .pitch-equalizer-container .pitch-equalizer-paper .pitch-equalizer-game .knob-freq-container .knob-title {
        display: inline-flex; }
        .pitch-equalizer-container .pitch-equalizer-paper .pitch-equalizer-game .knob-freq-container .knob-title p {
          align-self: center; }
        .pitch-equalizer-container .pitch-equalizer-paper .pitch-equalizer-game .knob-freq-container .knob-title .play-knob-button {
          border-radius: 0;
          margin-left: 15px; }
      .pitch-equalizer-container .pitch-equalizer-paper .pitch-equalizer-game .knob-freq-container .check {
        width: 100%; }
      .pitch-equalizer-container .pitch-equalizer-paper .pitch-equalizer-game .knob-freq-container #dial, .pitch-equalizer-container .pitch-equalizer-paper .pitch-equalizer-game .knob-freq-container .check {
        margin: 10px auto; }

.loudness-equalizer-container {
  height: 100%;
  display: flex; }
  .loudness-equalizer-container .loudness-equalizer-paper {
    height: 500px;
    margin: auto;
    padding: 30px; }
    .loudness-equalizer-container .loudness-equalizer-paper .loudness-equalizer-game {
      padding: 20px;
      margin-top: 40px;
      text-align: center;
      border: dashed lightgrey 1px; }
      .loudness-equalizer-container .loudness-equalizer-paper .loudness-equalizer-game .dest-freq-container {
        display: inline-flex; }
        .loudness-equalizer-container .loudness-equalizer-paper .loudness-equalizer-game .dest-freq-container .play-dest-button {
          border-radius: 0;
          margin-left: 15px; }
        .loudness-equalizer-container .loudness-equalizer-paper .loudness-equalizer-game .dest-freq-container p {
          align-self: center; }
      .loudness-equalizer-container .loudness-equalizer-paper .loudness-equalizer-game .equalizer-container .equalizer-title {
        display: inline-flex; }
        .loudness-equalizer-container .loudness-equalizer-paper .loudness-equalizer-game .equalizer-container .equalizer-title p {
          align-self: center; }
        .loudness-equalizer-container .loudness-equalizer-paper .loudness-equalizer-game .equalizer-container .equalizer-title .play-knob-button {
          border-radius: 0;
          margin-left: 15px; }
      .loudness-equalizer-container .loudness-equalizer-paper .loudness-equalizer-game .equalizer-container .equalizer-content {
        display: flex;
        justify-content: center; }
        .loudness-equalizer-container .loudness-equalizer-paper .loudness-equalizer-game .equalizer-container .equalizer-content .slider-container, .loudness-equalizer-container .loudness-equalizer-paper .loudness-equalizer-game .equalizer-container .equalizer-content .knob-container {
          margin: 15px; }
      .loudness-equalizer-container .loudness-equalizer-paper .loudness-equalizer-game .equalizer-container .check {
        width: 100%;
        margin: 0 auto;
        margin-top: 15px !important; }

.home-page-content {
  width: 60%;
  align-self: center;
  padding-left: 100px; }

.accountSignIn {
  display: flex;
  align-items: baseline; }

/*# sourceMappingURL=index.css.map */
