.layout {
  height: 100%;
  display: flex;
  flex-direction: column;

  .app-title {
    flex: 1;
  }

  .logo {
    height: 85px;
    margin: 10px 5px;
  }

  .app-tool-bar {
    justify-content: space-between;
  }

  .home-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;

    h1, h2 {
      font-family: 'Nanum Pen Script', cursive !important;
    }

    h1 {
      font-size: 3.125rem !important;
      font-weight: bold !important;
    }

    h2 {
      font-size: 2.3125rem !important;
    }

    .sign-in-page, .sign-up-page {
      width: 40%;
      align-self: center;

      .email, .password-input, .full-name, .confirm-password-input,
      .sign-up-button, .sign-in-button {
        width: 300px;
      }
    }
  }

  .sign-in-sign-up {
    padding-left: 50px;
  }

  .layout-container {
    height: 100%;
    display: flex;
    margin-top: 105px;
    flex-direction: row;

    .games-container {
      width: 100%;
      display: flex;
    }

    .layout-content {
      flex-grow: 1;
    }

    .game-content {
      width: 80%;
    }

    .progress-side-bar-container {
      overflow: auto;
      border-right: 1px solid lightgrey;
      position: relative;
      width: 20%;

      .heading {
        font-size: 0.9375rem;
        font-weight: normal;
      }

      .expansion-panel-details {
        padding-top: 0;
        padding-bottom: 0;
      }

      .expansion-panel-summary {
        min-height: 45px;
      }

      .MuiExpansionPanelSummary-contentExpanded-94 {
        margin: 0 0;
      }

      .MuiExpansionPanel-expanded-87 {
        margin: 0 0;
      }

      .list-of-sub-levels-container {
        width: 100%;

        .list-item {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
}