.memory-game-container {
  height: 100%;
  display: flex;

  .memory-game-paper {
    min-height: 500px;
    margin: auto;
    padding: 30px;

    .memory-game {
      padding: 10px;
      text-align: center;
      border: dashed lightgrey 1px;
      cursor: pointer;

      .memory-component-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .memory-paper {
          height: 75px;
          width: 75px;
          margin: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.memory-game:hover {
  color: azure;
}

.memory-button {
  width: 40px !important;
  height: 40px !important;
  border-radius: 0% !important;
}