html {
  height: 100% !important; }
  html body {
    height: 100%;
    margin: 0; }
    html body #root {
      height: 100%; }

.app {
  height: 100%; }

.layout {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .layout .app-title {
    flex: 1; }
  .layout .layout-container {
    height: 100%;
    display: flex;
    margin-top: 64px;
    flex-direction: row; }
    .layout .layout-container .layout-content {
      flex-grow: 1; }
    .layout .layout-container .progress-side-bar-container {
      border-right: 1px solid lightgrey; }
      .layout .layout-container .progress-side-bar-container .heading {
        font-size: 0.9375rem;
        font-weight: normal; }
      .layout .layout-container .progress-side-bar-container .expansion-panel-details {
        padding-top: 0;
        padding-bottom: 0; }
      .layout .layout-container .progress-side-bar-container .expansion-panel-summary {
        min-height: 45px; }
      .layout .layout-container .progress-side-bar-container .MuiExpansionPanelSummary-contentExpanded-94 {
        margin: 0 0; }
      .layout .layout-container .progress-side-bar-container .MuiExpansionPanel-expanded-87 {
        margin: 0 0; }
      .layout .layout-container .progress-side-bar-container .list-of-sub-levels-container {
        width: 100%; }
        .layout .layout-container .progress-side-bar-container .list-of-sub-levels-container .list-item {
          padding-top: 5px;
          padding-bottom: 5px; }

.pitch-sort-game-container {
  height: 100%;
  display: flex; }
  .pitch-sort-game-container .pitch-sort-game-paper {
    height: 500px;
    margin: auto;
    padding: 30px; }
    .pitch-sort-game-container .pitch-sort-game-paper .pitch-sort-game {
      min-width: 1100px;
      padding: 20px;
      margin-top: 40px;
      text-align: center;
      border: dashed lightgrey 1px;
      cursor: pointer; }
      .pitch-sort-game-container .pitch-sort-game-paper .pitch-sort-game .pitch-component-list {
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
        .pitch-sort-game-container .pitch-sort-game-paper .pitch-sort-game .pitch-component-list .pitch-paper {
          height: 100px;
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center; }

.pitch-sort-game:hover {
  color: azure; }

.pitch-button {
  margin: 22px !important;
  border-radius: 0% !important; }

.multi-choice-game-container {
  height: 100%;
  display: flex; }
  .multi-choice-game-container .multi-choice-game-paper {
    height: 500px;
    margin: auto;
    padding: 30px; }
    .multi-choice-game-container .multi-choice-game-paper .multi-choice-game {
      min-width: 1100px;
      padding: 20px;
      margin-top: 40px;
      text-align: center;
      border: dashed lightgrey 1px;
      cursor: pointer; }

.multi-choice-game:hover {
  color: azure; }

.memory-game-container {
  height: 100%;
  display: flex; }
  .memory-game-container .memory-game-paper {
    min-height: 500px;
    margin: auto;
    padding: 30px; }
    .memory-game-container .memory-game-paper .memory-game {
      min-width: 1100px;
      max-width: 1100px;
      padding: 20px;
      text-align: center;
      border: dashed lightgrey 1px;
      cursor: pointer; }
      .memory-game-container .memory-game-paper .memory-game .memory-component-list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap; }
        .memory-game-container .memory-game-paper .memory-game .memory-component-list .memory-paper {
          height: 100px;
          width: 100px;
          margin: 10px;
          display: flex;
          align-items: center;
          justify-content: center; }

.memory-game:hover {
  color: azure; }

.memory-button {
  margin: 22px !important;
  border-radius: 0% !important; }

/*# sourceMappingURL=index.css.map */
