.layout {
  height: 100%;
  display: flex;
  flex-direction: column;

  .app-title {
    flex: 1;
  }

  .layout-container {
    height: 100%;
    display: flex;
    margin-top: 64px;
    flex-direction: row;

    .layout-content {
      flex-grow: 1;
    }

    .progress-side-bar-container {
      border-right: 1px solid lightgrey;

      .heading {
        font-size: 0.9375rem;
        font-weight: normal;
      }

      .expansion-panel-details {
        padding-top: 0;
        padding-bottom: 0;
      }

      .expansion-panel-summary {
        min-height: 45px;
      }

      .MuiExpansionPanelSummary-contentExpanded-94 {
        margin: 0 0;
      }

      .MuiExpansionPanel-expanded-87 {
        margin: 0 0;
      }

      .list-of-sub-levels-container {
        width: 100%;

        .list-item {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
}