.layout-container {
  height: 100%;

  .app-bar {
    width: 100%;

    .app-title {
      flex: 1 !important;
    }
  }

  .progress-side-bar-container {
    position: absolute;
    height: 100%;
    width: 25%;
    margin-top: 64px;
    border-right: 1px solid lightgrey;

    .heading {
      font-size: 0.9375rem;
      font-weight: normal;
    }

    .expansion-panel-details {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .expansion-panel-summary {
      min-height: 45px;
    }

    .MuiExpansionPanelSummary-contentExpanded-94 {
      margin: 0 0;
    }

    .MuiExpansionPanel-expanded-87 {
      margin: 0 0;
    }

    .list-of-sub-levels-container {
      width: 100%;

      .list-item {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}