.memory-game-container {
  height: 100%;
  display: flex;

  .memory-game-paper {
    height: 500px;
    margin: auto;
    padding: 30px;

    .memory-game {
      padding: 70px;
      margin-top: 40px;
      text-align: center;
      border: dashed lightgrey 1px;
      cursor: pointer;

      .memory-component-list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .memory-paper {
          height: 100px;
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.memory-game:hover {
  color: azure;
}

.memory-button {
  margin: 22px !important;
  border-radius: 0% !important;
}