.multi-choice-game-container {
  height: 100%;
  display: flex;

  .multi-choice-game-paper {
    height: 500px;
    margin: auto;
    padding: 30px;

    .multi-choice-game {
      min-width: 1100px;
      padding: 20px;
      margin-top: 40px;
      text-align: center;
      border: dashed lightgrey 1px;
      cursor: pointer;
    }
  }
}

.multi-choice-game:hover {
  color: azure;
}