.pitch-sort-game {
  .pitch-paper {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pitch-component-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
  }
}